html, body {
  font-family: "Helvetica Neue", Helvetica, Roboto, sans-serif;
}

.main {
  background-image:url(/images/backgrounds/main-bg-logo.jpg);
}

.logo img {max-width: 240px;}

.t-80p {
  top:40%;
}

@media (min-width:700px) {
.t-80p {
  top:60%;
}
}

.image-container img {
  height:100%;
  width:100%;
  object-fit:cover;
}

.react-slideshow-container {
  position:fixed;
  height: 100%;
  width:100%!important;
}

.main-nav li {
  margin:15px 10%;
  height:90px;
}

.main-nav a {
  background:red;
  position:relative;
  z-index:30;
  color:#fff;
  text-transform:uppercase;
  height:90px;
  display:inline-flex;
  align-items:center;

  text-align:center;
  font-size:2rem;
  font-weight:900;
  width: 230px;
    justify-content: center;
}

.main-nav a:after, .main-nav a:before {
  content: "";
  position: absolute;
  top: 0px;
  width: 0;
    height: 0;
    z-index:30;
     
}

.main-nav a:after {
    right: -50px;
    border-top: 0px solid transparent;
    border-bottom: 90px solid transparent;
    border-left: 50px solid #FF0000;
}

.main-nav a:before {
    left: -50px;
    border-top: 90px solid transparent;
    border-bottom: 0px solid transparent;
    border-right: 50px solid #FF0000;
}

.lex, .rex {
  height:100%;
  width:100px;
  opacity:.7;
  position: absolute;
  top:0;
  background:#FF0000;
  z-index:20;
}

.lex:before, .rex:after {
  content: "";
  position: absolute;
  height:90px;
  top: 0px;
  width: 0;
    height: 0;
    z-index:30;
}

.lex {
  animation-name: pullLeft;
	  animation-duration: 3s;	
	  animation-iteration-count: infinite;
}

.rex {
  animation-name: pullRight;
	animation-duration: 3s;	
	animation-iteration-count: infinite;
}

.lex:before {
    left:-50px;
    top:0;
    border-top: 90px solid transparent;
    border-bottom: 0px solid transparent;
    border-right: 50px solid #FF0000;
    
}

.rex:after {
  right:-50px;
    top:0;
  border-top: 0px solid transparent;
  border-bottom: 90px solid transparent;
  border-left: 50px solid #FF0000;
  
}

@keyframes pullLeft {
	0% {
		left:0		
	}
	50% {
		left:-40px
	}	
	100% {
		left:0;
	}			
}

@keyframes pullRight {
	0% {
		right:0		
	}
	50% {
		right:-40px
	}	
	100% {
		right:0;
	}			
}
.border-red-500 {border-color:#FF1200!important;}
.text-red-500 {color:#FF1200!important;}

.tip-tail, .fixed-wrap {
  background-image:url(/images/backgrounds/plain-checker-bg.jpg);
}

.button-border-slant {
  height:80px;
  border-top-width:5px;
  border-bottom-width:5px;
  border-color:#FF1200;
}

.button-border-slant:before, .button-border-slant:after {
          content: "";
	        position: absolute;
	        display: block;
	        background: none;
	        border: 5px solid #FF1200;
          transform-origin: bottom left;
	        width: 55px;
          height: 80px;
	        top: -5px;
}

.button-border-slant:before {
  left: -55px;
  transform: skewX(-30deg);
  border-right: none;
  
    
}

.button-border-slant:after {
  right: 0;
  transform: skewX(-30deg);
  border-left: none;
  
}

.button-slant {
  height:60px;
  background-color:#FF1200;
}

.bottom-nav {
  height:152px;
  right:0;
}

.bottomNav {
  font-family: 'Roboto Condensed', sans-serif;
}

.c-legend.tip-tail-leg .button-slant {
  left:80px;
}

.c-legend.nose-tail-leg .button-slant {
  left:55px;
}


@media (min-width:1280px) {
.c-legend.tip-tail-leg .button-slant {
  left:312px;
}

.c-legend.nose-tail-leg .button-slant {
  left:112px;
}
}

.button-slant:before, .button-slant:after {
          content: "";
	        position: absolute;
	        display: block;
	        background: none;
	        background:#FF1200;
          transform-origin: bottom left;
	        width: 55px;
          height: 60px;
          top: -0;
          z-index:0;
}

.button-slant:before {
  left: -55px;
  transform: skewX(-30deg);
  border-right: none;
  
    
}

.button-slant:after {
  right: 0;
  transform: skewX(-30deg);
  border-left: none;
  
}

.c-legend {
  transition:400ms transform ease-in-out;
  font-family: 'Roboto Condensed', sans-serif;
}


.c-legend.tip-tail-leg {
  transform: translate(10px, 487px);
}

.c-legend.nose-tail-leg {
  transform: translate(70px, 176px);
}

.c-legend.tip-tail-leg.active {
  transform: translate(10px, 0px);
}

.c-legend.nose-tail-leg.active {
  transform: translate(70px, 0);
}

.c-legend li {
  margin:1rem;
  display:block;
  width:300px;
}

.c-legend li a {
  font-size:1.3rem;
  font-weight:700;
  position:relative;
  
}

.c-legend__menu {
  background-color: #edf2f7;
  padding-bottom:20px;
}

@media (min-width:1280px) {

  .c-legend__menu {
    background-color:transparent;
  }

  .c-legend.tip-tail-leg {
    transform: translate(-72%, 508px);
  }
  
  .c-legend.nose-tail-leg {
    transform: translate(0%, 176px);
  }
  
  .c-legend.tip-tail-leg.active {
    transform: translate(19%, -11px);
  }
  
  .c-legend.nose-tail-leg.active {
    transform: translate(52%, -180px);
  }
.c-legend.tip-tail-leg li:nth-child(3),
.c-legend.tip-tail-leg li:nth-child(5),
.c-legend.tip-tail-leg li:nth-child(6),
.c-legend.tip-tail-leg li:nth-child(8) {text-indent: 18px;}

.c-legend.tip-tail-leg li:nth-child(1) a {left:233px;} 
.c-legend.tip-tail-leg li:nth-child(2) a {left:213px;} 
.c-legend.tip-tail-leg li:nth-child(3) a {left:177px;text-indent: 0px;} 
.c-legend.tip-tail-leg li:nth-child(4) a {left:154px;} 
.c-legend.tip-tail-leg li:nth-child(5) a {left:122px;} 
.c-legend.tip-tail-leg li:nth-child(6) a {left:88px;} 
.c-legend.tip-tail-leg li:nth-child(7) a {left:68px;} 
.c-legend.tip-tail-leg li:nth-child(8) a {left:35px;} 
.c-legend.tip-tail-leg li:nth-child(9) a {left:10px;} 
.c-legend.tip-tail-leg li:nth-child(10) a {left:-10px;} 

.c-legend.nose-tail-leg li:nth-child(1) a {left:33px;} 
.c-legend.nose-tail-leg li:nth-child(2) a {left:10px;} 
.c-legend.nose-tail-leg li:nth-child(3) a {left:-10px;text-indent: 0px;} 

.c-legend__slantbg {
  transform: skew(-31.2deg,0deg);
  left:-85px;
  width:380px;
  height:200%;
}
}

.marker {
  animation-name: pulse;
	animation-duration: 3s;	
	animation-iteration-count: infinite;
}

.marker svg {
  width:35px;
}

@media (min-width:1280px) {
.marker svg {
  width:45px;
}
}

@media (min-width:1600px) {
  .marker svg {
    width:65px;
  }
  }

.rotor-back {
  top: 46px;
    left: 98px;
}

.rotor-front {
  top: 31%;
    left: 257px;
}

.chop-side {
  top: 57%;
    left: 223px;
}

.chop-nose {
  top: 155px;
    left: 344px;
}

@media (min-width:700px) {
  .rotor-back {
    top: 23%;
    left: 230px;
  }
.rotor-front {
  top: 31%;
    left: 443px;
}

.chop-side {
  top: 57%;
  left: 368px;
}

.chop-nose {
  top: 67%;
    left: 555px;
}
}

@media (min-width:1000px) {
  .rotor-back {
    top: 122px;
    left: 339px;
  }
.rotor-front {
  top: 31%;
    left: 658px;
}

.chop-side {
  top: 60%;
    left: 568px;
}

.chop-nose {
  top: 67%;
    left: 825px;
}
}

@media (min-width:1280px) {
  .rotor-back {
    top: 23%;
    left: 24%;
  }
  .rotor-front {
    top: 28%;
      left: 60%;
  }
  .chop-side {
    top: 57%;
      left: 53%;
  }
.chop-nose {
  top: 66%;
    right:14%;
    left:auto;
}
}



@media (min-width: 2000px ) {

  .nose-tail-image {
    padding-left:14rem;
  padding-right:14rem;}


}

.fixed-nose {
  top: 79%;
  left: 19px;
}

.fixed-body {
  top: 40%;
    left: 187px;
}

.fixed-wing {
  top: 64%;
    left: 207px;
}

@media (min-width:700px) {
  .fixed-nose {
    top: 82%;
      left: 175px;
  }
  .fixed-body {
    top: 43%;
      left: 480px;
  }
  .fixed-wing {
    top: 64%;
      left: 500px;
  }
}

@media (min-width:1000px) {
  .fixed-nose {
    top: 82%;
      left: 230px;
  }
  .fixed-body {
    top: 43%;
      left: 600px;
  }
  .fixed-wing {
    top: 64%;
      left: 600px;
  }
  }

@media (min-width:1280px) {
.fixed-nose {
  top: 78%;
    left: 8%;
}
.fixed-body {
  top: 43%;
    left: 50%;
}
.fixed-wing {
  top: 64%;
    left: 57%;
}
}

@media (min-width:1600px) {
  .fixed-body {
    top: 43%;
      left: 52%;
  }
}




@keyframes pulse {
	0% {
		transform:scale(1);		
	}
	50% {
		transform:scale(1.35);	
	}	
	100% {
		transform:scale(1);	
	}			
}

.mro__menu {
  height:30vh;
  overflow-x:scroll;
}

.mro__menu li {
  position:relative;
}

.rexe {
  height:100%;
  width:100px;
  opacity:.7;
  position: absolute;
  top:0;
  background:#FF0000;
  z-index:1;
  right:96px;
    transition:300ms right ease-in-out;
}

.current .rexe {
  right:50px;
}


.rexe:after {
  content: "";
  position: absolute;
  height:50px;
  top: 0px;
  width: 0;
    height: 0;
    z-index:30;
    
}

.rexe:after {
  right: -35px;
    top: 0;
    border-top: 0px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 35px solid #FF0000;
  
}

@media (max-width:1599px) {
  .mro__menu li a {font-size:.8rem!important;}
}

@media (min-width: 1020px) {
.mro__menu {
  height:70vh;
}
}

@media (min-width:1280px) {
.heli-wrap {
  min-height:1275px;
  background: url(/images/backgrounds/plain-checker-bg.jpg);
    background-position: 0 -145px;
}
}

.heli, .heli img, .heli svg {
  transition:600ms all ease-in-out;
  height:auto;
}

.heli img, .heli .heli-inner {
  max-width:2020px;
}

@media (max-width:699px) {
  .heli img {padding:1rem!important;}
}

.heli .heli-inner { 
bottom:20%;
transition:600ms all ease-in-out;
}

@media (min-width:1280px) {
  .heli .heli-inner { 
    bottom:40%;
    transition:600ms all ease-in-out;
    }
.heli.heli-active .heli-inner {
  bottom:0;
  left:0;
}
}

@media (min-width:1280px) {
.heli.heli-active {
  width:1100px;
  margin-left:-165px;
}

.heli.heli-active svg {
  width:34px;
}
}

/* NOSE TAIL */

.fixed .fixed-inner { 
  bottom:10%;
  left:0%;
  transition:600ms all ease-in-out;
  }

@media (min-width:1280px) {
  /*.fixed-wrap {
    min-height:1200px;
  }*/
    .fixed .fixed-inner {
      bottom: 20%;
      left: 20%;
      transition: 600ms all ease-in-out;
  }
  }

  @media (min-width: 1500px) {
    .fixed .fixed-inner { 
      bottom:23%;
      left:10%;
      transition:600ms all ease-in-out;
      }
  }

  @media (min-width:1700px) {
    .fixed .fixed-inner { 
      bottom:20%;
      left:24%;
      transition:600ms all ease-in-out;
      }
  }
  
  .fixed, .fixed img, .fixed svg {
    transition:600ms all ease-in-out;
    height:auto;
  }

  @media (max-width:699px) {
  .fixed img, .heli img {
    width:450px;
    padding:1rem!important;
  }
  }
  
 
  @media (min-width:700px) {
    .fixed img {
      max-width:700px;
      margin-left:13%;
    }
    .heli img {
      max-width:600px;
      margin-left:10%;
    }
  }


  @media (min-width:1000px) {
    .fixed img, .heli img {
      max-width:900px;
    }
  }
 
  @media (min-width:1280px) {
    .fixed img, .fixed .fixed-inner {
      max-width:1000px;
      margin-left:0;
    }
    .heli img {
      max-width:100%;
      margin-left:0;
    }
  }

  @media (min-width:1600px) {
  .fixed img, .fixed .fixed-inner {
    max-width:2020px;
    margin-left:0;
  }
  
}
  
  
  @media (min-width:1280px) {
  .fixed.fixed-active .fixed-inner {
    bottom:13%;
    left:8%;
  }
  }
  
  @media (min-width:1280px) {
  .fixed.fixed-active {
    width:850px;
  }
  }

  @media (min-width:1600px) {
    .fixed.fixed-active {
      width:1150px;
    
    }
  
  .fixed.fixed-active svg {
    width:34px;
  }
  }



/* Tip Tail Highlight Boxes (Red) */

.red-1 {
  top: 1%;
  left: 75px;
  position:relative;
  cursor:pointer;
  height:5rem;
    width:6rem;
  }

/*.red-1:after {
    content:"";
    background:#FF1201;
    position:absolute;
    width:500px;
    height:7px;
    top: 20rem;
    left: -12.8rem;
    transform:rotate(-90deg);
  }*/

.red-2 {
  top: 2%;
  left: 228px;
    position:relative;
    cursor:pointer;
    height:5rem;
    width:6rem;
    }

/*.red-2:after {
      content:"";
      background:#FF1201;
      position:absolute;
      width:500px;
      height:7px;
      top: 20rem;
      left: -13rem;
      transform:rotate(-90deg);
    }*/

    .red-3 {
      top: 116px;
    left: 172px;
    width: 143px;
    height: 4rem;
    cursor: pointer;
    } 

    /*.red-3:before {
      content: "";
    background: #FF1201;
    position: absolute;
    width: 700px;
    height: 7px;
    top: 403px;
    left: -279px;
    transform: rotate(90deg);
    z-index: -1;
    }*/

    .red-4 {
      top:112px;
    left:299px;
    position:fixed;
    cursor:pointer;
    height:5rem;
    width:6rem;
    }
     
    /*.red-4:after {
      content: "";
        background: #FF1201;
        position: absolute;
        width: 500px;
        height: 7px;
        top: 319px;
        left: -205px;
        transform: rotate(90deg);
    }  */
    
    

@media (min-width:700px) {
.red-1 {
  top: 3%;
  left: 27%;
  position:relative;
  cursor:pointer;
  height:5rem;
    width:6rem;
  }

/*.red-1:after {
    content:"";
    background:#FF1201;
    position:absolute;
    width:500px;
    height:7px;
    top: 20rem;
    left: -12.8rem;
    transform:rotate(-90deg);
  }*/

.red-2 {
    top:4%;
    left:53%;
    position:relative;
    cursor:pointer;
    height:5rem;
    width:6rem;
    }

/*.red-2:after {
      content:"";
      background:#FF1201;
      position:absolute;
      width:500px;
      height:7px;
      top: 20rem;
      left: -13rem;
      transform:rotate(-90deg);
    }*/
    .red-3 {
      top: 173px;
    left: 300px;
    width: 195px;
    height: 5rem;
    cursor: pointer;
      }
     /* .red-3:before {
        content: "";
        background: #FF1201;
        position: absolute;
        width: 700px;
        height: 7px;
        top: 420px;
        left: -135%;
        transform: rotate(90deg);
        z-index: -1;
  }*/
    .red-4 {
      top: 171px;
    left: 501px;
    cursor: pointer;
    height: 5rem;
    width: 6rem;
    }
  
     
    /*.red-4:after {
      content: "";
        background: #FF1201;
        position: absolute;
        width: 500px;
        height: 7px;
        top: 319px;
        left: -205px;
        transform: rotate(90deg);
    } */ 
  }    
    

@media (min-width:780px) {
.red-1 {
  top: 50px;
    left: 204px;
    position: relative;
    cursor: pointer;
    height: 8rem;
    width: 8rem;
  }

/*.red-1:after {
  content: "";
  background: #FF1201;
  position: absolute;
  width: 500px;
  height: 7px;
  top: 369px;
  left: -187px;
  transform: rotate(-90deg);
  }*/

.red-2 {
  top: 88px;
    left: 402px;
    position: relative;
    cursor: pointer;
    height: 7rem;
    width: 8rem;
    }

/*.red-2:after {
  content: "";
  background: #FF1201;
  position: absolute;
  width: 500px;
  height: 7px;
  top: 353px;
  left: -189px;
  transform: rotate(-90deg);
    }*/
    
      
  }   

  
    @media (min-width:1000px) {
      .red-1 {
        top: 69px;
    left: 301px;
    position: relative;
    cursor: pointer;
    height: 8rem;
    width: 8rem;
        }
      
     /* .red-1:after {
        content: "";
        background: #FF1201;
        position: absolute;
        width: 500px;
        height: 7px;
        top: 369px;
        left: -187px;
        transform: rotate(-90deg);
        }*/
      .red-2 {
        top: 125px;
        left: 610px;
        cursor: pointer;
        height: 7rem;
        width: 8rem;
          }
      
     /* .red-2:after {
        content: "";
        background: #FF1201;
        position: absolute;
        width: 500px;
        height: 7px;
        top: 353px;
        left: -189px;
        transform: rotate(-90deg);
          }*/
      .red-3 {
        top: 15%;
    left: 39%;
    height: 8rem;
    width: 19rem;
    cursor: pointer;
      }
      /*.red-3:before {
        content: "";
    background: #FF1201;
    position: absolute;
    width: 700px;
    height: 7px;
    top: 466px;
    left: -67%;
    transform: rotate(90deg);
    z-index: -1;
  }*/
      .red-4 {
        top: 259px;
    left: 733px;
    height: 7rem;
    width: 8rem;
      }
     /* .red-4:after {
        content: "";
      background: #FF1201;
      position: absolute;
      width: 500px;
      height: 7px;
      top: 354px;
      left: -189px;
      transform: rotate(90deg);
      }*/
      }      

@media (min-width:1280px) {
.red-1 {
  bottom: 28%;
    top: auto;
    left: 71px;
    cursor: pointer;
}

/*.red-1:after {
  content:"";
  background:#FF1201;
  position:absolute;
  width:500px;
  height:7px;
  top: -239px;
  left: -81px;
  transform:rotate(-70deg);
}*/
.red-2 {
  bottom: 22%;
    top: auto;
    left: 432px;
    position: relative;
    cursor: pointer;
  }

 /* .red-2:after {
    content: "";
    background: #FF1201;
    position: absolute;
    width: 247px;
    height: 7px;
    top: -121px;
    left: -41px;
    transform: rotate(-70deg);
  }*/
  
  /*.red-2:before {
    content: "";
      background: #FF1201;
      position: absolute;
      width: 785px;
      height: 7px;
      top: 59px;
      left: 123px;
  }*/

  .red-3 {
    top:80%;
    left:200px;
    width:420px;
    position:relative;
    }
   /* .red-3:after {
      content: "";
        background: #FF1201;
        position: absolute;
        width: 560px;
        height: 7px;
        top: -268px;
        left: -81px;
        transform: rotate(-70deg);
        z-index: -1;
    }
   /* .red-3:before {
      content: "";
        background: #FF1201;
        position: absolute;
        width: 700px;
        height: 7px;
        top: -200px;
        left: 288px;
        transform:rotate(-50deg);
        z-index:-1;
    }  */

  .red-4 {
    top:77%;
  left:600px;
  position:absolute;
  height:10rem;
  width:12rem;
  }
  
  /*.red-4:after {
    content: "";
      background: #FF1201;
      position: absolute;
      width: 500px;
      height: 7px;
      top: -197px;
      left: -281px;
      transform: rotate(-130deg);
  
  }*/
  
  /*.red-4:before {
    content: "";
      background: #FF1201;
      position: absolute;
      width: 400px;
      height: 7px;
      top: 50px;
      left: 184px;
  
  }*/
  .red-3 {
top:75%;
left:200px;
width:420px;
position:relative;
}
}

@media (min-width:1600px) {
  .red-3 {
    top:77%;
  left:250px;
  width:420px;
  position:relative;
  }
  /*.red-3:before {
    width: 700px;
    transform:rotate(-20deg);
    content: "";
    background: #FF1201;
    position: absolute;
    
    height: 7px;
    top: -40px;
    left: 393px;
   
    z-index:-1;
}*/
.red-4 {
  top:80%;
left:600px;
position:absolute;
height:10rem;
width:12rem;
}

/*.red-4:after {
  content: "";
    background: #FF1201;
    position: absolute;
    width: 500px;
    height: 7px;
    top: -221px;
    left: -281px;
    transform: rotate(-120deg);

}*/

/*.red-4:before {
  content: "";
    background: #FF1201;
    position: absolute;
    width: 685px;
    height: 7px;
    top: 50px;
    left: 184px;

}*/

  }

@media (min-width:2200px) {
  
 /* .red-4:after {
    content: "";
    background: #FF1201;
    position: absolute;
    width: 600px;
    height: 7px;
    top: -299px;
    left: -256px;
    transform: rotate(-100deg);
  
  }*/
}


/* Nose Tail Highlight Boxes (Red) */

.red-10 {
  width:12rem;
  height:10rem;
  top:67%;
left:115px;
}



.red-10 {
  width: 5rem;
    height: 4rem;
    top: 189px;
    left: 28px;
}

/*.red-10:before {
  width: 400px;
    transform: rotate(-90deg);
    content: "";
    background: #FF1201;
    position: absolute;
    height: 7px;
    top: 253px;
    left: -162px;
    z-index: -1;
}*/

.red-11 {
  width: 12rem;
  height: 3rem;
  top: 114px;
  left: 65px;
  transform: rotate(-31deg);
}

/*.red-11:before {
  width: 380px;
  transform: rotate(120deg);
  content: "";
  background: #FF1201;
  position: absolute;
  height: 7px;
  top: 203px;
  left: -118%;
  z-index: -1;
}
*/

.red-12 {
  width: 4rem;
    height: 3rem;
    bottom: auto;
    top: 38px;
    left: 241px;
}

/*.red-12:before {
  width: 500px;
    transform: rotate(90deg);
    content: "";
    background: #FF1201;
    position: absolute;
    height: 7px;
    top: 289px;
    left: -397%;
    z-index: -1;
}
*/

.red-13 {
  width: 4rem;
    height: 3rem;
    bottom: auto;
    left: 152px;
    top: 165px;
}

/*.red-13:before {
  width: 600px;
    transform: rotate(90deg);
    content: "";
    background: #FF1201;
    position: absolute;
    height: 7px;
    top: 339px;
    left: -482%;
    z-index: -1;
}
*/

.red-14 {
  width: 4rem;
    height: 3rem;
    bottom: auto;
    left: 16%;
    top: 156px;
}

/*.red-14:before {
  width: 400px;
    transform: rotate(90deg);
    content: "";
    background: #FF1201;
    position: absolute;
    height: 7px;
    top: 240px;
    left: -307%;
    z-index: -1;
}
*/

  @media (min-width:700px) {
    .red-10 {
      width: 7rem;
    height: 6rem;
    top: 28%;
    left: 187px;
    }
    /*.red-10:before {
    width: 400px;
      transform: rotate(-90deg);
      content: "";
      background: #FF1201;
      position: absolute;
      height: 7px;
      top: 286px;
      left: -140%;
      z-index: -1;
    }*/
    .red-11 {
      width: 22rem;
    height: 5rem;
    top: 213px;
    left: 253px;
    transform: rotate(-31deg);
    }
  
    /*.red-11:before {
      width: 380px;
      transform: rotate(120deg);
      content: "";
      background: #FF1201;
      position: absolute;
      height: 7px;
      top: 234px;
      left: -29%;
      z-index: -1;
    }
    */

    .red-12 {
      width: 8rem;
      height: 6rem;
      bottom: auto;
      top:6%;
      left: calc(60% - 30px);
    }
    
    /*.red-12:before {
      width: 500px;
    transform: rotate(90deg);
    content: "";
    background: #FF1201;
    position: absolute;
    height: 7px;
    top: 336px;
    left: -157%;
    z-index: -1;
    }
    */
  
    .red-13 {
      width: 8rem;
      height: 6rem;
      bottom: auto;
      left: 42%;
      top: 25%;
    }
    
    /*.red-13:before {
      width: 600px;
      transform: rotate(90deg);
      content: "";
      background: #FF1201;
      position: absolute;
      height: 7px;
      top: 387px;
      left: -198%;
      z-index: -1;
    }
    */
    
    .red-14 {
      width: 8rem;
      height: 6rem;
      bottom: auto;
      left: 26%;
      top: 25%;
    }
    
   /* .red-14:before {
      width: 400px;
      transform: rotate(90deg);
      content: "";
      background: #FF1201;
      position: absolute;
      height: 7px;
      top: 286px;
      left: -115%;
      z-index: -1;
    }
    */
    
  }

@media (min-width:1000px) {
  .red-10 {
    width: 12rem;
    height: 10rem;
    top: 31%;
    left: 18%;
  }
  /*.red-10:before {
  width: 400px;
    transform: rotate(-90deg);
    content: "";
    background: #FF1201;
    position: absolute;
    height: 7px;
    top: 350px;
    left: -60%;
    z-index: -1;
  }
  */
  .red-11 {
    width: 30rem;
    height: 7rem;
    top:277px;
    left: 25%;
    transform: rotate(-31deg);
  }

  /*.red-11:before {
    width: 380px;
    transform: rotate(120deg);
    content: "";
    background: #FF1201;
    position: absolute;
    height: 7px;
    top: 266px;
    left: -29%;
    z-index: -1;
  }
  */
  

  .red-12 {
    width: 11rem;
    height: 9rem;
    bottom: auto;
    top:10%;
    left: calc(60% - 30px);
  }
  
 /* .red-12:before {
    width: 500px;
    transform: rotate(90deg);
    content: "";
    background: #FF1201;
    position: absolute;
    height: 7px;
    top: 385px;
    left: -97%;
    z-index: -1;
  }
  */
  

  .red-13 {
    width: 11rem;
    height: 9rem;
    bottom: auto;
    left: 42%;
    top: 28%;
  }
  
  /*.red-13:before {
    width: 600px;
    transform: rotate(90deg);
    content: "";
    background: #FF1201;
    position: absolute;
    height: 7px;
    top: 436px;
    left: -127%;
    z-index: -1;
  }*/
  
  
  .red-14 {
    width: 11rem;
    height: 9rem;
    bottom: auto;
    left: 25%;
    top: 29%;
  }
  
 /*.red-14:before {
    width: 400px;
    transform: rotate(90deg);
    content: "";
    background: #FF1201;
    position: absolute;
    height: 7px;
    top: 335px;
    left: -68.5%;
    z-index: -1;
  }*/
  
}


@media (min-width:1280px) {
  .red-10 {
    width:12rem;
    height:10rem;
    top:67%;
  left:115px;
  }
/*.red-10:before {
  width: 800px;
    transform: rotate(-25deg);
    content: "";
    background: #FF1201;
    position: absolute;
    height: 7px;
    top: -133px;
    left: 80%;
    z-index: -1;
}
*/
  .red-11 {
    width: 27rem;
    height: 6rem;
    top: auto;
    bottom: 327px;
    left: 189px;
    transform: rotate(-31deg);
  }
  
  /*.red-11:before {
    width: 380px;
    transform: rotate(12deg);
    content: "";
    background: #FF1201;
    position: absolute;
    height: 7px;
    top: 113%;
    left: 99%;
    z-index: -1;
  }
*/
  .red-12 {
    width: 12rem;
    height: 10rem;
    top:auto;
    bottom: 46%;
    left: 530px;
  }
  
  /*.red-12:before {
    width: 300px;
    transform:rotate(-20deg);
    content: "";
    background: #FF1201;
    position: absolute;
    height: 7px;
    top: -5px;
      left: 96%;
    z-index:-1;
  }
  */

  .red-13 {
    width: 12rem;
    height: 10rem;
    top:auto;
    bottom: 17%;
    left: 377px;
  }
  
  /*.red-13:before {
    width: 600px;
      transform: rotate(-20deg);
      content: "";
      background: #FF1201;
      position: absolute;
      height: 7px;
      top: -88px;
      left: 91%;
      z-index: -1;
  }
  */
  
  .red-14 {
    width: 12rem;
    height: 10rem;
    bottom: 252px;
    top:auto;
    left: 162px;
  }
  
  /*.red-14:before {
    width: 800px;
    transform: rotate(-20deg);
    content: "";
    background: #FF1201;
    position: absolute;
    height: 7px;
    top: -109px;
    left: 87.5%;
    z-index: -1;
  }
  */

}

@media (min-width:1600px) {
 /* .red-10:before {
    width: 1200px;
    transform: rotate(-24deg);
    content: "";
    background: #FF1201;
    position: absolute;
    height: 7px;
    top: -204px;
    left: 73%;
    z-index: -1;
  }
  */

  .red-11 {
    width: 32rem;
    height: 8rem;
    top: auto;
    bottom: 438px;
    left: 276px;
    transform: rotate(-31deg);
  }

  /*.red-11:before {
    width: 700px;
    transform: rotate(12deg);
    content: "";
    background: #FF1201;
    position: absolute;
    height: 7px;
    top: 113%;
    left: 99%;
    z-index: -1;
  }
  */

  .red-12 {
    width: 12rem;
    top:auto;
      height: 10rem;
      bottom: 56%;
      left: 770px;
  }
  
  /*.red-12:before {
    width: 300px;
    transform:rotate(-20deg);
    content: "";
    background: #FF1201;
    position: absolute;
    height: 7px;
    top: -5px;
      left: 96%;
    z-index:-1;
  }
  */

  .red-13 {
    width: 12rem;
    height: 10rem;
    top:auto;
    bottom: 21%;
    left: 500px;
  }
  
  /*.red-13:before {
    width: 600px;
      transform: rotate(-20deg);
      content: "";
      background: #FF1201;
      position: absolute;
      height: 7px;
      top: -88px;
      left: 91%;
      z-index: -1;
  }
  */
  
  .red-14 {
    width:12rem;
    height:10rem;
    bottom:300px;
    top:auto;
    left:223px;
  }
  
  /*.red-14:before {
    width: 800px;
    transform: rotate(-20deg);
    content: "";
    background: #FF1201;
    position: absolute;
    height: 7px;
    top: -109px;
    left: 87.5%;
    z-index: -1;
  }
  */
}

@media (min-width:1940px) {
 /* .red-13:before {
    width: 1200px;
      transform: rotate(-20deg);
      content: "";
      background: #FF1201;
      position: absolute;
      height: 7px;
      top: -144px;
      left: 81%;
      z-index: -1;
  }

  .red-14:before {
    width: 1200px;
    transform:rotate(-20deg);
    content: "";
    background: #FF1201;
    position: absolute;
    height: 7px;
    top: -170px;
    left: 81.5%;
    z-index:-1;
  }

  .red-12:before {
    width: 800px;
    transform:rotate(-20deg);
    content: "";
    background: #FF1201;
    position: absolute;
    height: 7px;
    top: -50px;
      left: 87%;
    z-index:-1;
  }
  */
}

/*.grid-1:before, .grid-2:before {
  content: "";
    background: #FF1201;
    position: absolute;
    width: 585px;
    height: 7px;
    top: 100%;
    left: 20%;
    transform: rotate(90deg);
    z-index: -1;
}*/

@media (min-width:1280px) {

  .grid-2:before {
    display:none;
  }

  /*.grid-1:before {
    content: "";
      background: #FF1201;
      position: absolute;
      width: 585px;
      height: 7px;
      top: 40%;
      left: 80%;
      transform: rotate(0deg);
  }*/
/*.grid-4:before {
  content: "";
    background: #FF1201;
    position: absolute;
    width: 585px;
    height: 7px;
    top: 70%;
    left: 80%;
    z-index:-1;
}
*/

/*.grid-6:before, .grid-8:before {
  content: "";
    background: #FF1201;
    position: absolute;
    width: 120px;
    height: 7px;
    top: 60%;
    left: 90%;
    z-index:-1;
}*/

/*.grid-9:before {
  content: "";
    background: #FF1201;
    position: absolute;
    width: 585px;
    height: 7px;
    top: 0%;
    left: 0%;
    z-index:-1;
    transform: rotate(90deg);
}*/
.grid-8 {
  right:33%;
}
}

.grid-5 {
  top:0;
}

.grid-9 {
  right:0%;
  bottom:9%;
}

@media (min-width:1600px) {
.grid-5 {
  top:25%;
}
.grid-9 {
  right:10%;
  bottom:0%;
}
}

.grid-11 {
  top: 3%;
}

@media (max-width:1600px) {
.rotor-nose .sliderBG img {
  height:105px!important;
}
.rotor-nose .carousel__inner-slide {
  max-height:177px;
}
.rotor-nose .sliderBG {
  height:196px;
}
.rotor-nose .carousel__inner-slide p, .rotor-nose .bottom-text p {
  font-size:1rem!important;
}
 
}

.sliderBG {
  background:#e1e1e1;
  height:270px
}

.carousel__inner-slide {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  max-height:270px;
}

.sliderBG img {
  padding:20px 20px 0 20px;
  max-height:180px;
}

button.carousel__next-button {
  position:absolute;
  top:40%;
  right:0;
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='17.91' height='42.984' viewBox='0 0 17.91 42.984'%3E%3Cg id='Group_1' data-name='Group 1' transform='translate(-11.642 -267.367)'%3E%3Cpath id='Path_1' data-name='Path 1' d='M29.552,288.859l-.158.285L11.642,310.35V267.367Z' transform='translate(0 0)' fill='%23ff1201'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat:no-repeat;
  background-position: center center;
  height:50px;
  width:50px;
  font-size:0;
}

button.carousel__back-button {
  position:absolute;
  left:0;
  top:40%;
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='17.91' height='42.984' viewBox='0 0 17.91 42.984'%3E%3Cg id='Group_1' data-name='Group 1' transform='translate(29.552 310.35) rotate(180)'%3E%3Cpath id='Path_1' data-name='Path 1' d='M29.552,288.859l-.158.285L11.642,310.35V267.367Z' transform='translate(0 0)' fill='%23ff1201'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat:no-repeat;
  background-position: center center;
  height:50px;
  width:50px;
  font-size:0;
}

.productModal {
  z-index:999;
}

@media (min-width:2400px) {
  .productModal .text-lg {
    font-size:1.5rem;
  }
}

/* Show All Rotor */

@media (min-width:1280px) {
.productModal.ShowAll {
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-auto-rows: auto;
}
}

/* Mobile Menu */

.menu-toggle {
  padding: 9px;
  cursor: pointer;
  transition-property: opacity, filter, margin;
  transition-duration: 0300ms;
  transition-timing-function: ease-in-out;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 20px 20px 0 0;
  overflow: visible;
  z-index:12; }
  .menu-toggle:hover {
    opacity: 0.7; }
  .menu-toggle.is-active:hover {
    opacity: 0.7; }
  .menu-toggle.is-active .menu-toggle-inner,
  .menu-toggle.is-active .menu-toggle-inner::before,
  .menu-toggle.is-active .menu-toggle-inner::after {
    background-color: #000; }


    .menu-toggle:focus {outline:none;}   

.menu-toggle-box {
  width: 40px;
  height: 28px;
  display: inline-block;
  position: relative; }

.menu-toggle-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }

.menu-toggle-inner, .menu-toggle-inner::before, .menu-toggle-inner::after {
    width: 38px;
    height: 5px;
    background-color:#ff1200;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; 
  }

  .menu-toggle-inner {width: 30px;}

.menu-toggle-inner::before, .menu-toggle-inner::after {
    width: 40px;
    height: 5px;
    background-color:#ff1200; 
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }   


  .menu-toggle-inner::before, .menu-toggle-inner::after {
    content: "";
    display: block; }
  .menu-toggle-inner::before {
    top: -12px; }
  .menu-toggle-inner::after {
    bottom: -9px; }


/** Collapse **/
.menu-toggle--collapse .menu-toggle-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .menu-toggle--collapse .menu-toggle-inner::after {
    top: -24px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
  .menu-toggle--collapse .menu-toggle-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.mobile-active .menu-toggle-inner {width: 40px;}
.mobile-active .menu-toggle-inner, .active .menu-toggle-inner::before, .active .menu-toggle-inner::after {background-color: #ff1200} 
.mobile-active .menu-toggle--collapse .menu-toggle-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
.mobile-active .menu-toggle--collapse .menu-toggle-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; }
.mobile-active .menu-toggle--collapse .menu-toggle-inner::before {
    top: 0;
    transform: rotate(-90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }


.mobile-active .bottom-nav {
  display:flex!important;
  background:rgba(255,255,255,.7);
  height:100vh;
  display:flex;
  align-items: center;
  
}

.mobile-active .c-legend__slantbg {
  transform:none;
}

.btn1or2-active, .btn4-active, .btn3-active {display:none;}

button.close {
  cursor:pointer;
} 


@tailwind base;

@tailwind components;

@tailwind utilities;


