.image-container img {
    position: absolute;
  opacity: 0;
  min-width: 110%;
  height: 110%; 
  top: 45%;
  left: 45%;
   opacity:0;
  z-index: 0;
  margin:0 auto;
  transform: translate(-50%, -50%);
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
-o-transform: translate(-50%, -50%);
  }

@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) {
  .image-container img {

      top: 0px;
      left: 0px;

    }
}

  .image-container.anim-0 img {
  animation-name: kenburnsRight, fadeIn;
  animation-duration: 15s, 1s;
  animation-iteration-count: infinite, 1;
  animation-fill-mode: none, forwards;
  }
  
  .active .image-container.anim-1 img{
  animation-name: kenburnsLeft, fadeIn;
  animation-duration: 15s, 1s;
  animation-iteration-count: infinite, 1;
  animation-fill-mode: none, forwards;
  }
  .active .image-container.anim-2 img {
  animation-name: kenburnsUp, fadeIn;
  animation-duration: 15s, 1s;
  animation-iteration-count: infinite, 1;
  animation-fill-mode: none, forwards;
  }
  
  .active .image-container.anim-3 img {
  animation-name: kenburnsDown, fadeIn;
  animation-duration: 15s, 1s;
  animation-iteration-count: infinite, 1;
  animation-fill-mode: none, forwards;
  }
  
  .image-container.anim-4 img{
  animation-name: kenburnsDown, fadeOut;
  animation-duration: 15s, 1s;
  animation-iteration-count: infinite, 1;
  animation-fill-mode: none, forwards;
  }
  
  @keyframes kenburnsRight {
    0% {
        transform: scale3d(1, 1, 1) translate(-50%, -50%);
        animation-timing-function: ease-in;
    }
    100% {
        transform: scale3d(1.3, 1.3, 1.3) translate(-40%, -40%);
    } 
  }
  
  @keyframes kenburnsLeft {
    0% {
        transform: scale3d(1.1, 1.1, 1.1) translate(-50%, -50%);
        animation-timing-function: ease-in;
    }
    100% {
        transform: scale3d(1.3, 1.3, 1.3) translate(-51%, -52%);
    } 
  }
  
  @keyframes kenburnsUp {
    0% {
        transform: scale3d(1, 1, 1) translate(-50%, -50%);
        animation-timing-function: ease-in;
    }
    100% {
        transform: scale3d(1.3, 1.3, 1.3) translate(-48%, -52%);
    } 
  }
  
  @keyframes kenburnsDown {
    0% {
        transform: scale3d(1, 1, 1) translate(-50%, -50%);
        animation-timing-function: ease-in;
    }
    100% {
        transform: scale3d(1.3, 1.3, 1.3) translate(-51%, -51%);
    } 
  }
  @keyframes fadeIn {
    0% {
        opacity: 0;
    }
  
    100% {
        opacity: 1;
    } 
  }
  @keyframes fadeOut {
    0% {
        opacity: 1;
    }
  
    100% {
        opacity: 0;
    } 
  }
  

.box-content h3 {
    font-size: 32px;
}

.box {
  border: 2px solid red;
  display: table;
  margin: 0 auto;
  background: #fff;
  margin-top: 80px;
}

.box-content {
  padding: 10px 26px 70px;
}

.content_peragraph {
    width: 100%;
    max-width: 512px;
      text-align: left;
}

.content_peragraph p {
    padding: 0 48px;
  font-size:18px;
}

.span{
  color:red;
  font-weight:bold;	
}

.learn{
  background:red;
  padding:5px 15px;
  display:table;
  margin: 0 auto;
  transform: skew(-40deg);
}

.learn a {
    transform: skew(40deg);
    display: block;
  color:#fff;	
  text-decoration: none;
}

.popup {  
  position: fixed;  
  width: 100%;  
  height: 100%;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;  
  background-color: rgba(255,255,255, 0.5);  
}  


.header-right {
    cursor: pointer;
}

.w-full.flex.h-24.justify-between {
  position: relative;
  z-index: 20;
}
.fade-appear {
  opacity: 0;
  z-index: 1;
}
.fade-appear.fade-appear-active{
  opacity: 1;
  transition: opacity 600ms linear
}
.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-enter.fade-enter-active{
  opacity: 1;
  transition: opacity 600ms linear
}
.fade-exit {
  opacity: 1;
}
.fade-exit.fade-appear-exit{
  opacity: 0;
  transition: opacity 300ms linear
}

.content_peragraph ul li img {
  width: 80px;
  height: 100%;
  display: block;
}

ul {
  list-style: none;
  padding: 0;
}

.content_peragraph ul li {
  display: inline-block;
  padding: 0 10px;
}

.popup_box {
  display: inline-block;
  display: inline-table;
  margin-right: 15px;
  width: 48%;
  background:#fff;
  z-index: 999;
}

.content_peragraph ul {
  background: #d4d4d4;
  padding: 15px 60px;
}

.heading_box {
  padding: 0 20px;
}

.contentg{
padding: 0 20px;
}

.second_box {
  position: relative;
}

.popup_box.second_box:before {
  position: absolute;
  content: "";
  border: 2px solid red;
  width: 18px;
  left: -22px;
  top: 50%;
}

.popup_box.second_box:after {
  position: absolute;
  content: "";
  border: 2px solid red;
  bottom: -21px;
  height: 16px;
  left: 50%;
}

.container_pop {
  margin:0 80px;
}

.third_box {
  float: right !important;
  max-width: 445px;
}

.main_box {
  padding: 0 75px;
}

.popup_box.second_popup {
  position: relative;
  top: 250px;
  max-width: 470px;
}

.popup_box .slider_image{
width:100px;
height:100px;
}
.popup_box.second_popup:before {
  position: absolute;
  content: "";
  border: 2px solid red;
  width: 18px;
  left: -22px;
  top: 8%;
}

.third_box {
  float: right !important;
  max-width: 399px;
  margin-right: 20px;
}

.popup_box.fourth_popup {
  position: relative;
  max-width: 470px;
  margin-top: 20px;
  margin-left: 257px;
}

.popup_box.fourth_popup:before {
  position: absolute;
  content: "";
  border: 2px solid red;
  width: 18px;
  right: -22px;
  top: 35%;
}